.stema {
  background-image: url("./rsz_stemaro.png");
  display: block;
  float: left;
  margin-right: 1rem;
  margin-left: 5rem;
}

#navbarNav {
  height: 60px;
  width: 900%;
  font-family: sans-serif;
  margin: 4rem 1rem 3rem 5rem;
}

#navbarNav li {
  display: block;
  width: 180px;
  float: left;
  margin-left: 2rem;
  margin-top: 2rem;
}

#navbarNav a {
  display: block;
  padding: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(153, 0, 0);
}
#navbarNav a:hover {
  background-color: #f5f526;
  color: rgb(0, 0, 0);
}
